fastapi==0.104.1
starlette==0.27.0
mangum==0.17.0
python-multipart==0.0.6
pydantic==2.5.0

boto3==1.28.85

PyJWT==2.8.0

# Force a Lambda-compatible cryptography build (avoids GLIBC_2.28 issue)
cryptography==41.0.7

requests
groq
beautifulsoup4
python-dotenv